html {
  color: #dcdcdc;
  background-color: #212121;
  font-family: Roboto;
}

body {
  margin: 2% auto;
  max-width: 650px;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 32px;
}

li {
  margin: 10px 0;
  font-size: 18px;
}

a {
  color: #919191;
}

#logodiv {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 20px;
  border-bottom: #dcdcdc solid 1px;
  width: fit-content;
}

#logodiv img {
  height: 220px;
  padding-right: 5%;
}

#navbar {
  padding-top: 1%;
  font-size: 24px;
  font-family: Ubuntu Mono;
}

#navbar ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#navbar ul li {
  margin: auto;
  float: left;
  padding-right: 5%;
  font-size: 24px;
}

#navbar ul li a {
  color: #dcdcdc;
  text-decoration: none;
}

#navbar ul li a:hover {
  color: #c4c4c4;
}
